
@charset "UTF-8";


html {
    height: 100%;
    scroll-behavior: smooth;
    line-height: 1.75;
}
body {
    margin: 0;
    font-family: rubik,helvetica,arial,sans-serif;
    font-size: 1.2rem;
    background-image: url(../image/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#MainTitle {
    background: rgba(255, 255, 255, 0.90);
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#MainBlock {
    background: rgba(255, 255, 255, 0.90);
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

h2 {
    text-decoration: dotted;
    color: darkslateblue;
}

a {
    color: #a81251;
    text-decoration: none;
    transition: background-color .5s;
}

a:hover {
    background: rgba(248, 224, 8, 0.158);
    border-color: #17667f;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    border-radius: 60px;
    border: 3px solid;
    border-color: black;
    margin-top: 5px;
    margin-left: 5px;
}
h1 {
    color: darkslateblue;
}

big {
    color: #3D0A1F;
}

button {
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
    border: 1px solid rgb(228, 228, 228);
    padding: 15px 20px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
    border: 1px solid rgb(228, 228, 228);
}

/*
table, th, td, tr {
    border: black solid 1px;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}
*/

.statistics {
    font-size: 1rem;
}

.red {
    background-color: #ffb6c1;
}

.blue {
    background-color: #add8e6;
}
.trtable {
    margin-bottom: 1em;
    border-collapse: collapse;
    color: #3A3A3A;
    background-color: #E9DFE9;
    border: 1px solid #C6BFC6;
    padding: 0.2em 0.4em;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1px;
    border-color: grey;
}

tbody {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

tr {
    height: 50px;
}

th {
    font-weight: bold;
    padding: 5px;
    background-color: #E9DFE9;
    border: 1px solid #C6BFC6;
    font-size: 13px;
    width: 75px;
}

td {
    padding: 0.5em;
    border: 0px solid #C6BFC6;
    background-color: #F5EBF5;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.placement {
    height: 50px;
    width: 60px;
}
.rumocracy {
    height: 45px;
    width: 45px;
}
.song {
    width: max-content;
    font-size: 1rem;
}
.nameTR{
    background-color: #e8dee8; 
    font-weight: bold;
    font-size: .8rem;
    border: 1px solid #C6BFC6
}

.episodeTR {
    background-color: #e8dee8;
    font-weight: bold;
    font-size: .8rem;
    border: 1px solid #C6BFC6
}

.ppeTR{
    background-color: #e8dee8;
    font-weight: bold;
    border: 1px solid #C6BFC6
}

select {
    margin-top: 5px;
    text-align-last: center;
    padding: 2px 1px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 0.9rem;
}

select:focus{
      background-color: black;
      color: white;
}

input[type=number] {
    padding: 2px 1px;
    background-color: #f1f1f1;
    color: black;
    font-size: calc(1.275rem + 0.1vw);
    border-radius: 10px;
}

input[type=number]:focus {
    background-color: black;
    color: white;
}

input[type=checkbox] {
    height: 17px;
    width: 17px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}
  
input[type=checkbox]:hover input ~ .checkmark{
    background-color: #ccc;
}
  
input[type=checkbox] input:checked {
    background-color: #2196F3;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
    width: min-content;
    align-self: center;
}

.searchInput {
    position: relative;
    width: 40%;
    height: 30px;
    background: #fff;
    border-radius: 60px;
    box-shadow: 0 0 0 2px #a81251;
    font-size: 1rem;
}

.drag-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    align-items: flex-start;
    object-fit: cover;
    object-position: center;
}

.card {
    padding: .5rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.card:hover {
    background-color: #FF6BA9;
}

.card > .header {
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.card:hover > .header {
    font-size: 1.4rem;
    color: #3D0A1F;
}

.card > .body {
    font-size: .8rem;
    color: #3D0A1F;
}

.card:hover > .body {
    font-size: .9rem;
}

.hide {
    display: none;
}

.chooseQueen {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: #3D0A1F;
    border-color: #3D0A1F;
    border-radius: 12px;
    cursor: pointer;
}

.chooseQueen:hover {
    color: #fff;
    background-color: #FF6BA9;
    border-color: #FF6BA9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.textRightClick {
    opacity:0;
    filter:alpha(opacity=0);
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
}

.toTop {
    background-color: #f1f1f1;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    font-size: 32px;
    color: #3D0A1F;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.toTop.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.toTop.active:hover {
    background: rgba(39, 5, 35, 0.548);
    border-radius: 50%;
    color: white;
    border-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media (max-width: 580px) {
    html {
        font-size: 1rem;
    }
    .searchInput {
        font-size: 0.9rem;
    }
    select {
        font-size: 0.8rem;
    }
    button {
        font-size: 1rem;
    }
    .statistics {
        font-size: .8rem;
    }
    .toTop {
        bottom: 8px;
        right: 16px;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        align-items: center;
        justify-items: center;
    }
    .toTop.active {
        bottom: 16px;
    }
}
/*
@media (max-width: 1400px) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
} */
